<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ferreteria.My.MySettings.FERRETERIAConnectionString" connectionString="Data Source=LAPTOP-LCROG2OD\MSSQLSERVER01;Initial Catalog=FERRETERIA;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>